In [5]:
from src import objects

In [14]:
# Create People
vin = objects.Person(name='Vin', role='Manager, Research')
will = objects.Person(name='Will', role='Researcher')
blake = objects.Person(name='Blake', role='Researcher')
sophia = objects.Person(name='Sophia', role='Researcher')
natalie = objects.Person(name='Natalie', role='Researcher')
chintan = objects.Person(name='Chintan', role='Researcher')
alex = objects.Person(name='Alex', role='Researcher')

research = objects.Team(name='Research', description='Dots Research Team')
research.members.append(vin)
research.members.append(will)
research.members.append(blake)
research.members.append(sophia)
research.members.append(natalie)
research.members.append(chintan)
research.members.append(alex)
research.members

7 members of type Person

In [29]:
import numpy as np
import pandas as pd

In [18]:
id_list = [p.name for p in research.members]
attr_list = ['Creativity', 'Determination']

In [28]:
# Simulate Data on dots Received by Each Person with Poisson Distribution whose scale varies by Time.
# * Every gets X dots each day (X is Poisson distribution with rate = 2)
# * Rate = 10 for Vin/Creativity 
n_periods = 100
dt_rng = pd.date_range(start='1/1/2019', periods=n_periods, freq='D')

simulation_params = dict()

for idj in id_list:
    simulation_params_for_person = dict()
    for attrj in attr_list:
        simulation_params_for_person[attrj] = pd.Series([2]*len(dt_rng), index = dt_rng)
    simulation_params[idj] = simulation_params_for_person
    
# (1) Increase Frequency of Dots Received by Vin on Creativity over last 30 days.
# (2) Increase Frequency of Dots Received by Will on Determination over middle 30 days.

simulation_params['Vin']['Creativity'][-30:-1] = 10
simulation_params['Will']['Determination'][-60:-31] = 10

In [64]:
# Simulate number of Dots Received each day. 
np.random.seed(1)

dots_received = list()

for idj in id_list:
    for attrj in attr_list:
        simulated_counts_array = [np.random.poisson(lam=x, size=1) for x in simulation_params[idj][attrj]]
        simulated_counts = pd.Series(simulated_counts_array, index = simulation_params[idj][attrj].index)
        for date, cnt in simulated_counts.to_dict().items():
            for j in range(int(cnt)):
                random_author = np.random.choice(id_list)
                one_dot = (random_author, idj, attrj, date, np.random.choice([rating for rating in range(1, 11)]))
                dots_received += [one_dot]

In [65]:
dots_received_df = pd.DataFrame.from_records(dots_received, columns=['Author','Subject', 'Attribute', 'Date', 'Value'])

In [67]:
dots_received_df.head()

    Author Subject   Attribute       Date  Value
0    Blake     Vin  Creativity 2019-01-01      9
1  Chintan     Vin  Creativity 2019-01-01      1
2  Natalie     Vin  Creativity 2019-01-02      6
3     Will     Vin  Creativity 2019-01-04      9
4    Blake     Vin  Creativity 2019-01-05      7